NET "A<0>"  LOC = "P49"  ;
NET "A<10>"  LOC = "P62"  ;
NET "A<11>"  LOC = "P7"  ;
NET "A<12>"  LOC = "P60"  ;
NET "A<13>"  LOC = "P12"  ;
NET "A<14>"  LOC = "P13"  ;
NET "A<15>"  LOC = "P17"  ;
NET "A<1>"  LOC = "P50"  ;
NET "A<2>"  LOC = "P51"  ;
NET "A<3>"  LOC = "P52"  ;
NET "A<4>"  LOC = "P57"  ;
NET "A<5>"  LOC = "P58"  ;
NET "A<6>"  LOC = "P44"  ;
NET "A<7>"  LOC = "P59"  ;
NET "A<8>"  LOC = "P4"  ;
NET "A<9>"  LOC = "P6"  ;
NET "bankout<0>"  LOC = "P38"  ;
NET "bankout<1>"  LOC = "P31"  ;
NET "bankout<2>"  LOC = "P5"  ;
NET "bankout<3>"  LOC = "P56"  ;
NET "bankout<4>"  LOC = "P34"  ;
NET "bankout<5>"  LOC = "P36"  ;
NET "card<0>"  LOC = "P2"  ;
NET "card<1>"  LOC = "P64"  ;
NET "clock"  LOC = "P16"  ;
NET "D<0>"  LOC = "P19"  ;
NET "D<1>"  LOC = "P22"  ;
NET "D<2>"  LOC = "P61"  ;
NET "D<3>"  LOC = "P24"  ;
NET "D<4>"  LOC = "P32"  ;
NET "D<5>"  LOC = "P11"  ;
NET "D<6>"  LOC = "P10"  ;
NET "D<7>"  LOC = "P9"  ;
NET "eprom"  LOC = "P35"  ;
NET "iorq"  LOC = "P48"  ;
NET "m1"  LOC = "P25"  ;
NET "mapcondout"  LOC = "P20"  ;
NET "mreq"  LOC = "P15"  ;
NET "poweron"  LOC = "P33"  ;
NET "ramoe"  LOC = "P1"  ;
NET "ramwr"  LOC = "P39"  ;
NET "rd"  LOC = "P47"  ;
NET "romcs"  LOC = "P40"  ;
NET "romoe"  LOC = "P8"  ;
NET "romwr"  LOC = "P63"  ;
NET "spi_clock"  LOC = "P42"  ;
NET "spi_datain"  LOC = "P45"  ;
NET "spi_dataout"  LOC = "P43"  ;
NET "wr"  LOC = "P46"  ;
